* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(227, 212, 21), rgb(193, 200, 230));;
    font-family: monospace;
}

main {
    border: 1px solid black;
    width: 80vw;
    height: 55vh;
    margin-top: 2rem;
    display: flex;
}

.forecast {
    border: 1px solid black;
    width: 60vw;
    height: 35vh;
    margin-top: 2rem;
    display: flex;
}

.weather-info {
    border: 1px solid black;
    width: 50vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.weather-details {
    border: 1px solid black;
    width: 30vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.forecast .forecast-tomorrow {
    border: 1px solid black;
    width: 30vw;
    height: 35vh;
}

.forecast .forecast-day-after-tomorrow {
    border: 1px solid black;
    width: 30vw;
    height: 35vh;
}

.weather-description {
    border: 1px solid black;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 0px 4px 4px black;
}

.weather-city-name {
    border: 1px solid black;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 0px 4px 4px black;
}

.weather-feels-like {
    border: 1px solid black;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 0px 4px 4px black;
}

.detail-lat {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.detail-lon {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.detail-hum {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.detail-pre {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}   

.detail-vis {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.detail-win-deg {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}   

.detail-win-spe {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.select-city {
    border: 2px solid rgba(5, 5, 70, 0.659);
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px rgba(5, 5, 70, 0.659);
}

.request {
    border: 2px solid rgba(5, 5, 70, 0.659);
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px rgba(5, 5, 70, 0.659);
}