* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 1rem;
    background-size: cover;
}

main {
    border: 1px solid black;
    width: 100vw;
    height: 60vh;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.forecast {
    border: 1px solid black;
    width: 60vw;
    height: 20vh;
    margin-top: 2rem;
    display: flex;
}

.weather-info {
    border: 1px solid black;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.weather-details {
    border: 1px solid black;
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.forecast .forecast-min {
    border: 1px solid black;
    width: 30vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.forecast .forecast-max {
    border: 1px solid black;
    width: 30vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.weather-description {
    border: 1px solid black;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 0px 4px 4px black;
}

.weather-city-name {
    border: 1px solid black;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 0px 4px 4px black;
}

.weather-feels-like {
    border: 1px solid black;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 0px 4px 4px black;
}

.detail-lat {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.detail-lon {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.detail-hum {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.detail-pre {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}   

.detail-vis {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.detail-win-deg {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}   

.detail-win-spe {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.select-city {
    border: 2px solid rgba(5, 5, 70, 0.659);
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px rgba(5, 5, 70, 0.659);
}

.request {
    border: 2px solid rgba(5, 5, 70, 0.659);
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px rgba(5, 5, 70, 0.659);
}

.forecast-min .temp-min {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.forecast-min .sunrise {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.forecast-max .temp-max {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.forecast-max .sunset {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 4px black;
}

.fas {
    color: white;
    font-size: 35px;
}

.humidity-ctn,
.pressure-ctn,
.visibility-ctn,
.wind-angle-ctn,
.wind-speed-ctn,
.latitude-ctn,
.longitude-ctn,
.min-ctn,
.max-ctn {
    display: flex;
    align-items: center;
}